.editor h1 {
  font-size: 2rem;
  font-weight: bold;
}
.editor h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
.editor h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.editor h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
.editor h5 {
  font-size: 1rem;
  font-weight: bold;
}
.editor h6 {
  font-size: 0.875rem;
  font-weight: bold;
}

.editor {
  outline: none;
}
.editable[attr-empty="true"]:before {
  content: attr(attr-placeholder);
  color: #808080;
  font-style: italic;
  position: absolute;
  cursor: text;
}
.title {
  outline: none;
  position: relative;
}

/** 行距 */
.editor > * {
  margin-bottom: 0.8rem;
}

/** 嵌套List */
.editor-nested-listitem {
  list-style-type: none;
}

.editor-listitem {
  margin-bottom: 0.35rem;
}
