@import "./common/components/input/styles/index.css";
@import "./common/components/button/styles/index.css";
@import "./common/components/link/styles/index.css";
@import "./common/components/notifier-stack/styles/index.css";
@import "./common/components/tag/index.css";
@import "./common/components/auto-complete/index.css";
@import "./common/components/spin/index.css";

@import "./pages/write/components/editor/index.css";
@import "./pages/post/components/article/index.css";
@import "./pages/workspace/modules/album/index.css";

/** tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
